:root {
  font-family: 'Helvetica Neue', PingFang SC, 'Microsoft YaHei', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #1f2933;
  background-color: #f4f6fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f6fb;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

#root {
  min-height: 100vh;
}
